# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
.venv/

# SQLite
*.db

# Node
node_modules/
frontend/node_modules/
frontend/dist/

# Vite
frontend/.vite/

# Pytest
.pytest_cache/

# IDE
.vscode/
.DS_Store
